.banner-area {
    background: url(../assets/header-bg.png);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 157px 0;
}

.banner-area .banner-content {
    padding: 150px 0;
}

@media (max-width: 1024px) {

    .banner-area {

        background-size: cover;
        background-position: center bottom;

    }

}

@media (min-width: 1800px) {

    .banner-area {

        background-size: cover;
        background-position: 0 -450px;

    }

}