.banner-area {
    min-height: 500px;
    background: ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: headslider 3s infinite alternate;
}

@keyframes headslider {
    0% {
        background-image: url(../images/header-bg1.jpg);
    }

    50% {
        background-image: url(../images/header-bg2.jpg);

    }

    100% {
        background-image: url(../images/header-bg3.jpg);
    }
}

ul.menu {
    /* background-color: chartreuse; */
    margin-left: 180px;
}

.highlight {

    color: #f1e757;
}

.timeline .timeline-row:before {
    background: #dee0e2;
}


.banner-area .banner-content {
    padding: 130px 0;
}

@media (max-width: 1024px) {

    .banner-area {}

}

@media (min-width: 1025px) {

    .banner-area {}

}

@media (min-width: 1800px) {

    .banner-area {}

}