.banner-area {
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: banner-animation 2s infinite alternate;
}

@keyframes banner-animation {
  0% {
    background-image: url(../images/header-bg1.jpg);
  }

  50% {
    background-image: url(../images/header-bg2.jpg);
  }

  100% {
    background-image: url(../images/header-bg3.jpg);
  }
}

.crypten-trade-area {
  overflow: hidden;
}

ul.menu {
  /* background-color: chartreuse; */
  margin-left: 98px;
}

.highlight {
  color: #f1e757;
}

.timeline .timeline-row:before {
  background: #dee0e2;
}

.banner-area .banner-content {
  padding: 130px 0;
}

.team-area {
  background-color: #190427;
}

.our-story {
  background-image: url(../images/story-bg.jpg);
  background-size: cover;
  background-position: center;
}

.story-text {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 30px;
}

.footer-link a {
  color: #ffffff;
}

.cd-timeline__content p {
  font-size: 18px;
  color: #f8f7ed;
  margin-top: 30px;
}

.cd-timeline__date img {
  margin-top: -174px;
}

.discord {
  padding: 240px 0;
  background: url(../images/discord.png);
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

@media (max-width: 480px) {
  .discord {
    background: none;
  }

  .discord-btn-mt {
    margin-top: 50px !important;
  }
}

.discord-btn-mt {
  margin-top: 150px;
}

.team-content h5 {
  color: #69bed0;
  text-transform: uppercase;
}

.team-content h4 {
  text-transform: uppercase;
}

.team-heading {
  margin-top: 70px;
  display: flex;
}

.team-heading img {
  height: 30px;
  margin-left: 40px;
}

.team-heading h3 {
  color: #ffffff;
}

@media (max-width: 480px) {
  .team-heading {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .team-heading img {
    margin-right: 40px;
  }
}

/* video background code start */

.video-background-holder {
  position: relative;
  background-color: black;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
